<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Symbios.Core.Properties.Settings.SymbiosConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Symbios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>